.board {
	width: 100%;
	text-align: center;

	.categories {
		width: 100%;

		.category-container {
			display: inline-block;
			padding: 10px;
			width: 18%;

			.category {
				padding: 20px;
				text-align: center;
			}

			.question {
				padding: 20px;
				text-align: center;

				.answered {
					visibility: hidden;
				}
			}
		}
	}

	.users {
		display: inline-block;

		.user {
			display: inline-block;
			width: 100px;
			text-align: center;
			padding: 10px;
		}
	}
}
