.active-question {
	position: fixed;
	background-color: blue;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;

	.question {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80%;
	}

	.users {
		width: 100%;
		height: 20%;

		.user, .skip {
			display: inline-block;
			width: 20%;
			height 100%;

			p {
				padding: 10px;
			}
		}
	}
}
